#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

body {
  background-color: #cee7f0 !important;
}

.contact:hover {
  text-decoration: underline;
}

h1, h2{
  font-family: 'Handlee', cursive !important;
}

h1 {
  font-size: 55px !important;
}

p, label {
  font-family: 'Roboto', sans-serif !important;

}

h5 {
  color: #4172B5 !important;
}

.biscuits{
  float:right;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
